langchain>=0.1.4
langchain_community>=0.2.10
langchain_core>=0.2.36
langchain_openai>=0.0.5
python-dotenv>=1.0.1
streamlit>=1.30.0
faiss-cpu
langchain_google_genai>=1.0.10
beautifulsoup4==4.12.2
